In [1]:
import pandas as pd
import json
import requests
from urllib import parse

In [5]:
box1 = pd.read_csv('./box1.csv',encoding='UTF-8')
box2 = pd.read_csv('./box2.csv',encoding='UTF-8')
box3 = pd.read_csv('./box3.csv',encoding='UTF-8')
box4 = pd.read_csv('./box4.csv',encoding='UTF-8')
box5 = pd.read_csv('./box5.csv',encoding='UTF-8')
box6 = pd.read_csv('./box6.csv',encoding='UTF-8')
box7 = pd.read_csv('./box7.csv',encoding='UTF-8')
box8 = pd.read_csv('./box8.csv',encoding='UTF-8')
box9 = pd.read_csv('./box9.csv',encoding='UTF-8')
box10 = pd.read_csv('./box10.csv',encoding='UTF-8')
box11 = pd.read_csv('./box11.csv',encoding='UTF-8')
box12 = pd.read_csv('./box12.csv',encoding='UTF-8')
box13 = pd.read_csv('./box13.csv',encoding='UTF-8')
box14 = pd.read_csv('./box14.csv',encoding='UTF-8')
box15 = pd.read_csv('./box15.csv',encoding='UTF-8')
box16 = pd.read_csv('./box16.csv',encoding='UTF-8')
box17 = pd.read_csv('./box17.csv',encoding='UTF-8')
box18 = pd.read_csv('./box18.csv',encoding='UTF-8')
box19 = pd.read_csv('./box19.csv',encoding='UTF-8')

In [15]:
box6

     재산피해소계금액  부동산피해금액  발생건수      발생일자   동산피해금액
0     2731596   810358   107  20210101  1921238
1      523038   269048   112  20210102   253990
2      799517   451300    89  20210103   348217
3     1299593   835293   119  20210104   464300
4     1707059  1114777   139  20210105   592282
..        ...      ...   ...       ...      ...
694   1328909   809528   110  20221126   519381
695    525324   294862   111  20221127   230462
696    733940   436163    85  20221128   297777
697   1175268   640651   102  20221129   534617
698   1238751   625536   140  20221130   613215

[699 rows x 5 columns]

In [16]:
box7

       재산피해소계금액  부상자인원수    화재장소구분명  사고자인원수  인명피해인원수  발생건수      발생일자
0            22       0        쓰레기       0        0     1  20210101
1          2084       0       연립주택       0        0     1  20210101
2           352       0       단독주택       0        0     1  20210101
3           352       0        주차장       0        0     1  20210101
4          2568       2        아파트       0        2     4  20210101
...         ...     ...        ...     ...      ...   ...       ...
61296      3265       0     기타 음식점       0        0     1  20221130
61297       438       0  기타 일반업무시설       0        0     1  20221130
61298      3300       0      승용자동차       0        0     1  20221130
61299     45050       0         횟집       0        0     1  20221130
61300      1625       0       기타야외       0        0     1  20221130

[61301 rows x 7 columns]