In [2]:
import pandas as pd
import json
import requests
from urllib import parse
import xmltodict

https://www.data.go.kr/data/15077644/openapi.do
소방청_화재정보서비스 -> 
소방청 국가화재정보 시도별화재인명피해현황 목록조회

In [5]:
url = 'http://apis.data.go.kr/1661000/FireInformationService/getOcBysidoFpcnd'
key = 'buNPq8BZdGw2p%2B3l2B7IMBy3e9PX5fahBKLPiW518y4yMZsQFDJeQW9fpNMb2nt7Xu6j4vz6txHwT5%2BrcFrwhA%3D%3D'


queryParams = f'?{parse.quote_plus("serviceKey")}={key}&' + parse.urlencode({
parse.quote_plus("ocrn_ymd"): '20230119',
parse.quote_plus("siDo"): '1100',
parse.quote_plus("resultType"): 'xml' ,
parse.quote_plus("numOfRows"): 100,
parse.quote_plus("pageNo"): 1
})

# xml로 받아온 response
response = requests.get(url + queryParams).text
# xmltodict로 dictionary형태로 바꿔줌
jsonString = json.dumps(xmltodict.parse(response), indent=4)
# dictiondary to json
dic = json.loads(jsonString)
#dic
body = dic['response']['body']['items']['item']

df1 = pd.json_normalize(body)

In [6]:
df1

   OCRN_MNB INJRDPR_PERCNT  OCRN_YMD VCTM_PERCNT LIFE_DMG_PERCNT  SIDO_NM
0        16              0  20230119           0               0    서울특별시
1         6              0  20230119           0               0    부산광역시
2         1              0  20230119           0               0    대구광역시
3         1              0  20230119           0               0    인천광역시
4         1              0  20230119           0               0    광주광역시
5         1              0  20230119           0               0    대전광역시
6         4              0  20230119           0               0    울산광역시
7         1              0  20230119           0               0  세종특별자치시
8        26              7  20230119           1               8      경기도
9         1              0  20230119           0               0      강원도
10        3              0  20230119           0               0     충청북도
11        9              0  20230119           0               0     충청남도
12        7              0  20230119           0               0     전라북도
13       10              0  20230119           0               0     전라남도
14       12              2  20230119           0               2     경상북도
15        7              0  20230119           0               0     경상남도
16        1              0  20230119           0               0  제주특별자치도

In [5]:
body = dic['response']['body']['items']['item']
body

[{'OCRN_MNB': '16',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '서울특별시'},
 {'OCRN_MNB': '6',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '부산광역시'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '대구광역시'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '인천광역시'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '광주광역시'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '대전광역시'},
 {'OCRN_MNB': '4',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '울산광역시'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '세종특별자치시'},
 {'OCRN_MNB': '25',
  'INJRDPR_PERCNT': '7',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '1',
  'LIFE_DMG_PERCNT': '8',
  'SIDO_NM': '경기도'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '강원도'},
 {'OCRN_MNB': '3',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '충청북도'},
 {'OCRN_MNB': '9',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '충청남도'},
 {'OCRN_MNB': '7',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '전라북도'},
 {'OCRN_MNB': '10',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '전라남도'},
 {'OCRN_MNB': '11',
  'INJRDPR_PERCNT': '1',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '1',
  'SIDO_NM': '경상북도'},
 {'OCRN_MNB': '7',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '경상남도'},
 {'OCRN_MNB': '1',
  'INJRDPR_PERCNT': '0',
  'OCRN_YMD': '20230119',
  'VCTM_PERCNT': '0',
  'LIFE_DMG_PERCNT': '0',
  'SIDO_NM': '제주특별자치도'}]

In [26]:
df1 = pd.json_normalize(body)
df1
#OCRN_MNB : 발생건수, VCTM_PERCENT : 사고자인원수

   OCRN_MNB INJRDPR_PERCNT  OCRN_YMD VCTM_PERCNT LIFE_DMG_PERCNT  SIDO_NM
0        16              0  20230119           0               0    서울특별시
1         6              0  20230119           0               0    부산광역시
2         1              0  20230119           0               0    대구광역시
3         1              0  20230119           0               0    인천광역시
4         1              0  20230119           0               0    광주광역시
5         1              0  20230119           0               0    대전광역시
6         4              0  20230119           0               0    울산광역시
7         1              0  20230119           0               0  세종특별자치시
8        25              7  20230119           1               8      경기도
9         1              0  20230119           0               0      강원도
10        3              0  20230119           0               0     충청북도
11        9              0  20230119           0               0     충청남도
12        7              0  20230119           0               0     전라북도
13       10              0  20230119           0               0     전라남도
14       11              1  20230119           0               1     경상북도
15        7              0  20230119           0               0     경상남도
16        1              0  20230119           0               0  제주특별자치도

In [8]:
df1.to_csv('시도별화재인명피해현황.csv')

https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15059126
도로교통공단_사망교통사고정보서비스
-> 사망교통사고정보 Rest 조회

In [4]:
url = 'http://apis.data.go.kr/B552061/AccidentDeath/getRestTrafficAccidentDeath'
key = 'buNPq8BZdGw2p%2B3l2B7IMBy3e9PX5fahBKLPiW518y4yMZsQFDJeQW9fpNMb2nt7Xu6j4vz6txHwT5%2BrcFrwhA%3D%3D'


queryParams = f'?{parse.quote_plus("serviceKey")}={key}&' + parse.urlencode({
parse.quote_plus("searchYear"): '2021',
parse.quote_plus("siDo"): '1100',
parse.quote_plus("guGun"): '1117',
parse.quote_plus("resultType"): 'xml' ,
parse.quote_plus("numOfRows"): 100,
parse.quote_plus("pageNo"): 1
})

# xml로 받아온 response
response = requests.get(url + queryParams).text
# xmltodict로 dictionary형태로 바꿔줌
jsonString = json.dumps(xmltodict.parse(response), indent=4)
# dictiondary to json
dic = json.loads(jsonString)
#dic
#body = dic['response']['body']['items']['item']

#df1 = pd.json_normalize(body)

In [5]:
dic

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL_CODE'},
  'body': {'items': {'item': [{'acc_year': '2021',
      'occrrnc_dt': '2021012115',
      'dght_cd': '1',
      'occrrnc_day_cd': '5',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '15',
      'acc_ty_cd': '05',
      'aslt_vtr_cd': '99',
      'road_frm_lclas_cd': '01',
      'road_frm_cd': '05',
      'wrngdo_isrty_vhcty_lclas_cd': '03',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '967462',
      'occrrnc_lc_y_crd': '1949068',
      'lo_crd': '127.13168406',
      'la_crd': '37.54036264'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021020107',
      'dght_cd': '1',
      'occrrnc_day_cd': '2',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '15',
      'acc_ty_cd': '05',
      'aslt_vtr_cd': '05',
      'road_frm_lclas_cd': '01',
      'road_frm_cd': '05',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '967373',
      'occrrnc_lc_y_crd': '1949000',
      'lo_crd': '127.13067966',
      'la_crd': '37.53974658'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021020809',
      'dght_cd': '1',
      'occrrnc_day_cd': '2',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '02',
      'acc_ty_mlsfc_cd': '21',
      'acc_ty_cd': '21',
      'aslt_vtr_cd': '99',
      'road_frm_lclas_cd': '01',
      'road_frm_cd': '05',
      'wrngdo_isrty_vhcty_lclas_cd': '07',
      'dmge_isrty_vhcty_lclas_cd': '10',
      'occrrnc_lc_x_crd': '967761',
      'occrrnc_lc_y_crd': '1951790',
      'lo_crd': '127.13494889',
      'la_crd': '37.56490763'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021042803',
      'dght_cd': '2',
      'occrrnc_day_cd': '4',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '11',
      'acc_ty_cd': '01',
      'aslt_vtr_cd': '99',
      'road_frm_lclas_cd': '02',
      'road_frm_cd': '07',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '967901',
      'occrrnc_lc_y_crd': '1947772',
      'lo_crd': '127.13670992',
      'la_crd': '37.52869663'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021091820',
      'dght_cd': '2',
      'occrrnc_day_cd': '7',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '02',
      'acc_ty_mlsfc_cd': '23',
      'acc_ty_cd': '23',
      'aslt_vtr_cd': '03',
      'road_frm_lclas_cd': '02',
      'road_frm_cd': '06',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '05',
      'occrrnc_lc_x_crd': '969582',
      'occrrnc_lc_y_crd': '1949626',
      'lo_crd': '127.15607095',
      'la_crd': '37.54625354'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021100519',
      'dght_cd': '2',
      'occrrnc_day_cd': '3',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '11',
      'acc_ty_cd': '01',
      'aslt_vtr_cd': '03',
      'road_frm_lclas_cd': '02',
      'road_frm_cd': '06',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '968595',
      'occrrnc_lc_y_crd': '1950632',
      'lo_crd': '127.1443762',
      'la_crd': '37.55451496'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021102723',
      'dght_cd': '2',
      'occrrnc_day_cd': '4',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '11',
      'acc_ty_cd': '01',
      'aslt_vtr_cd': '99',
      'road_frm_lclas_cd': '01',
      'road_frm_cd': '05',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '968554',
      'occrrnc_lc_y_crd': '1950321',
      'lo_crd': '127.14399109',
      'la_crd': '37.55169437'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021110807',
      'dght_cd': '1',
      'occrrnc_day_cd': '2',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '12',
      'acc_ty_cd': '02',
      'aslt_vtr_cd': '05',
      'road_frm_lclas_cd': '02',
      'road_frm_cd': '07',
      'wrngdo_isrty_vhcty_lclas_cd': '01',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '966835',
      'occrrnc_lc_y_crd': '1949637',
      'lo_crd': '127.12456111',
      'la_crd': '37.54546892'},
     {'acc_year': '2021',
      'occrrnc_dt': '2021111214',
      'dght_cd': '1',
      'occrrnc_day_cd': '6',
      'dth_dnv_cnt': '1',
      'injpsn_cnt': '1',
      'se_dnv_cnt': '0',
      'sl_dnv_cnt': '0',
      'wnd_dnv_cnt': '0',
      'occrrnc_lc_sido_cd': '1100',
      'occrrnc_lc_sgg_cd': '1117',
      'acc_ty_lclas_cd': '01',
      'acc_ty_mlsfc_cd': '11',
      'acc_ty_cd': '01',
      'aslt_vtr_cd': '07',
      'road_frm_lclas_cd': '02',
      'road_frm_cd': '07',
      'wrngdo_isrty_vhcty_lclas_cd': '10',
      'dmge_isrty_vhcty_lclas_cd': '12',
      'occrrnc_lc_x_crd': '970985',
      'occrrnc_lc_y_crd': '1950962',
      'lo_crd': '127.17157772',
      'la_crd': '37.55707789'}]},
   'totalCount': '9',
   'numOfRows': '9',
   'pageNo': '1'}}}

In [6]:
#!pip install PublicDataReader --upgrade

In [14]:
from PublicDataReader import Kosis

# KOSIS 공유서비스 Open API 사용자 인증키
service_key = "OTY3NjI0YWVkN2Q3ZjIxOTk4MGZiZDcwODMwZjVhYjY="

# 인스턴스 생성하기
api = Kosis(service_key)

읍면동 주민등록 인구

In [15]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="읍면동 주민등록 인구"
)
df.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,101,행정안전부,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),2008001,주민등록인구현황,MT_ZTITLE,인구 > 주민등록인구현황,A > A_7,행정구역(동읍면)별 5세별 남자인구수 여자인구수 총인구수 개포3동 신당제4동 중림동...,2011,2022,"* 등록구분의 ＂전체＂는 ＂거주자＂, ＂거주불명자＂, ＂재외국민＂이 포함된 자료입니...",N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,579,읍면동 주민등록 인구

In [16]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="101",
    tblId="DT_1B04005N"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

        수록시점
         min     max
수록주기
년       2011    2022
월     201207  202212

In [17]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="101",
    tblId="DT_1B04005N",
)
item.head()

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T2,총인구수,Population,NaN,NaN,Person
1,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T3,남자인구수,Male,NaN,NaN,Person
2,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T4,여자인구수,Female,NaN,NaN,Person
3,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,00,전국,Whole country,NaN,1,NaN
4,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,11,서울특별시,Seoul,NaN,1,NaN

In [18]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T2,총인구수,Population,NaN,NaN,Person
1,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T3,남자인구수,Male,NaN,NaN,Person
2,101,DT_1B04005N,14STD04553,명,ITEM,항목,Item code list,T4,여자인구수,Female,NaN,NaN,Person

In [19]:
item.loc[item["분류ID"]=="A"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
3,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,00,전국,Whole country,NaN,1,NaN
4,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,11,서울특별시,Seoul,NaN,1,NaN
5,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,11110,종로구,Jongno-gu,11,1,NaN
6,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,1111051500,청운효자동,Cheongunhyoja-dong,11110,1,NaN
7,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,1111053000,사직동,Sajik-dong,11110,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4182,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,5013058000,서홍동,Seohong-dong,50130,1,NaN
4183,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,5013059000,대륜동,Daeryun-dong,50130,1,NaN
4184,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,5013060000,대천동,Daecheon-dong,50130,1,NaN
4185,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,5013061000,중문동,Jungmun-dong,50130,1,NaN
4186,101,DT_1B04005N,NaN,NaN,A,행정구역(동읍면)별,By Administrative District,5013062000,예래동,Yerae-dong,50130,1,NaN

In [20]:
item.loc[item["분류ID"]=="B"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
4187,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),0,계,Total,NaN,2,NaN
4188,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),5,0 - 4세,0-4 Years old,NaN,2,NaN
4189,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),10,5 - 9세,5-9 Years old,NaN,2,NaN
4190,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),15,10 - 14세,10-14 Years old,NaN,2,NaN
4191,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),20,15 - 19세,15-19 Years old,NaN,2,NaN
4192,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),25,20 - 24세,20-24 Years old,NaN,2,NaN
4193,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),30,25 - 29세,25-29 Years old,NaN,2,NaN
4194,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),35,30 - 34세,30-34 Years old,NaN,2,NaN
4195,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),40,35 - 39세,35-39 Years old,NaN,2,NaN
4196,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),45,40 - 44세,40-44 Years old,NaN,2,NaN
4197,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),50,45 - 49세,45-49 Years old,NaN,2,NaN
4198,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),55,50 - 54세,50-54 Years old,NaN,2,NaN
4199,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),60,55 - 59세,55-59 Years old,NaN,2,NaN
4200,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),65,60 - 64세,60-64 Years old,NaN,2,NaN
4201,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),70,65 - 69세,65-69 Years old,NaN,2,NaN
4202,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),75,70 - 74세,70-74 Years old,NaN,2,NaN
4203,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),80,75 - 79세,75-79 Years old,NaN,2,NaN
4204,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),85,80 - 84세,80-84 Years old,NaN,2,NaN
4205,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),90,85 - 89세,85-89 Years old,NaN,2,NaN
4206,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),95,90 - 94세,90-94 Years old,NaN,2,NaN
4207,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),100,95 - 99세,95-99 Years old,NaN,2,NaN
4208,101,DT_1B04005N,NaN,NaN,B,5세별,By Age Group (Five-Year),105,100+,100 Years old ＆ over,NaN,2,NaN

In [24]:
df = api.get_data(
    "통계자료",
    orgId="101",
    tblId="DT_1B04005N",
    objL1="00 11 26 27 28 29 30 31 36 41 42 43 44 45 46 47 48 50",
    objL2="0",
    itmId="T2",
    prdSe="M",
    startPrdDe="202212",
    endPrdDe="202212",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명2,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,전국,Whole country,00,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,51439038
1,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,서울특별시,Seoul,11,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,9428372
2,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,부산광역시,Busan,26,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,3317812
3,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,대구광역시,Daegu,27,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,2363691
4,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,인천광역시,Incheon,28,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,2967314
5,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,광주광역시,Gwangju,29,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1431050
6,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,대전광역시,Daejeon,30,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1446072
7,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,울산광역시,Ulsan,31,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1110663
8,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,세종특별자치시,sejong,36,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,383591
9,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,경기도,Gyeonggi-do,41,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,13589432
10,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,강원도,Gangwon-do,42,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1536498
11,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,충청북도,Chungcheongbuk-do,43,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1595058
12,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,충청남도,Chungcheongnam-do,44,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,2123037
13,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,전라북도,Jeollabuk-do,45,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1769607
14,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,전라남도,Jeollanam-do,46,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,1817697
15,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,경상북도,Gyeongsangbuk-do,47,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,2600492
16,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,경상남도,Gyeongsangnam-do,48,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,3280493
17,101,DT_1B04005N,행정구역(읍면동)별/5세별 주민등록인구(2011년~),행정구역(동읍면)별,By Administrative District,제주특별자치도,Jeju,50,5세별,By Age Group (Five-Year),...,Total,0,T2,총인구수,Population,명,Person,M,202212,678159

In [25]:
df.to_csv("시도별인구현황.csv")

In [15]:
pv = df.pivot(index=["분류값ID1","분류값명1","수록시점"], columns=["항목명"], values="수치값").reset_index()
pv.columns.name = None
pv['수록시점'] = pd.to_datetime(pv['수록시점'], format="%Y%m")
numCols = ["총인구수"]
for col in numCols:
    pv[col] = pd.to_numeric(pv[col])
pv

          분류값ID1  분류값명1       수록시점     남자인구수     여자인구수      총인구수
0             00     전국 2022-12-01  25636951  25802087  51439038
1             11  서울특별시 2022-12-01   4570048   4858324   9428372
2          11110    종로구 2022-12-01     68395     72984    141379
3     1111051500  청운효자동 2022-12-01      5347      6281     11628
4     1111053000    사직동 2022-12-01      4038      5049      9087
...          ...    ...        ...       ...       ...       ...
3853  5013058000    서홍동 2022-12-01      5558      5673     11231
3854  5013059000    대륜동 2022-12-01      7867      7735     15602
3855  5013060000    대천동 2022-12-01      6985      6811     13796
3856  5013061000    중문동 2022-12-01      6238      6064     12302
3857  5013062000    예래동 2022-12-01      1988      1887      3875

[3858 rows x 6 columns]

자동차등록대수현황 시도별

In [16]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="자동차등록대수현황 시도별"
)
df.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,116,국토교통부,DT_MLTM_5498,자동차등록대수현황 시도별,1975041,자동차등록현황보고,MT_ZTITLE,교통ㆍ물류 > 자동차등록현황보고,M2 > M2_18,시도명 시군구 레벨01 경북 서울 전남 대전 세종 전북 경남 부산 광주 강원 인천 ...,2011,2022,자료 : 국토교통부 교통물류실 자동차운영보험과,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=116...,6,자동차등록대수현황 시도별

In [17]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="116",
    tblId="DT_MLTM_5498"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

        수록시점
         min     max
수록주기
월     201101  202212

In [18]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="116",
    tblId="DT_MLTM_5498",
)
item

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번
0,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T1,관용,Official use vehicle,NaN
1,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T2,자가용,Personal motor vehicle,NaN
2,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T3,영업용,Commercial use,NaN
3,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T4,계,Total,NaN
4,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0001,서울,Seoul,1
...,...,...,...,...,...,...,...,...,...
262,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0001,승용,Sedan,3
263,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0002,승합,Vans,3
264,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0003,화물,Freight,3
265,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0004,특수,Special,3
266,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0005,총계,Total,3

In [19]:
item['분류ID'].unique().tolist()

['ITEM', '13101873443A', '13101873443B', '13101873443C']

In [20]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번
0,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T1,관용,Official use vehicle,NaN
1,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T2,자가용,Personal motor vehicle,NaN
2,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T3,영업용,Commercial use,NaN
3,116,DT_MLTM_5498,ITEM,항목,Item code list,13103873443T4,계,Total,NaN

In [21]:
item.loc[item["분류ID"]=="13101873443A"]

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번
4,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0001,서울,Seoul,1
5,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0002,부산,Busan,1
6,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0003,대구,Daegu,1
7,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0004,인천,Incheon,1
8,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0005,광주,Gwangju,1
9,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0006,대전,Daejeon,1
10,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0007,울산,Ulsan,1
11,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0008,경기,Gyeonggi,1
12,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0009,세종,Sejong,1
13,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0010,강원,Gangwon-do,1
14,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0011,충북,Chungcheongbuk-do,1
15,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0012,충남,Chungcheongnam-do,1
16,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0013,전북,Jeollabuk-do,1
17,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0014,전남,Jeollanam-do,1
18,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0015,경북,Gyeongsangbuk-do,1
19,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0016,경남,Gyeongsangnam-do,1
20,116,DT_MLTM_5498,13101873443A,시도명,City/Province,13102873443A.0017,제주,Jeju,1

In [22]:
item.loc[item["분류ID"]=="13101873443B"].head(30)

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번
21,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0002,계,Whole country,2
22,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0001,강남구,Gangnam-gu,2
23,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0003,강동구,Gangdong-gu,2
24,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0004,강북구,Gangbuk-gu,2
25,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0005,강서구,Gangseo-gu,2
26,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0006,관악구,Gwanak-gu,2
27,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0007,광진구,Gwangjin-gu,2
28,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0008,구로구,Guro-gu,2
29,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0009,금천구,Geumcheon-gu,2
30,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0010,노원구,Nowon-gu,2
31,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0011,도봉구,Dobong-gu,2
32,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0012,동대문구,Dongdaemun-gu,2
33,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0013,동작구,Dongjak-gu,2
34,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0014,마포구,Mapo-gu,2
35,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0015,서대문구,Seodaemun-gu,2
36,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0016,서초구,Seocho-gu,2
37,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0017,성동구,Seongdong-gu,2
38,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0018,성북구,Seongbuk-gu,2
39,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0019,송파구,Songpa-gu,2
40,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0020,양천구,Yangcheon-gu,2
41,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0021,영등포구,Yeongdeungpo-gu,2
42,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0022,용산구,Yongsan-gu,2
43,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0023,은평구,Eunpyeong-gu,2
44,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0024,종로구,Jongno-gu,2
45,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0025,중구,Jung-gu,2
46,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0026,중랑구,Jungnang-gu,2
47,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0027,금정구,Geumjeong-gu,2
48,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0028,기장군,Gijang-gun,2
49,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0029,남구,Nam-gu,2
50,116,DT_MLTM_5498,13101873443B,시군구,SiGunGu,13102873443B.0030,동구,Dong-gu,2

In [23]:
item.loc[item["분류ID"]=="13101873443C"]

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번
262,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0001,승용,Sedan,3
263,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0002,승합,Vans,3
264,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0003,화물,Freight,3
265,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0004,특수,Special,3
266,116,DT_MLTM_5498,13101873443C,레벨01,Level01,13102873443C.0005,총계,Total,3

In [24]:
df = api.get_data(
    "통계자료",
    orgId="116",
    tblId="DT_MLTM_5498",
    objL1="ALL",
    objL2="13102873443B.0002",
    objL3="13102873443C.0005",
    itmId="13103873443T4",
    prdSe="M",
    startPrdDe="202212",
    endPrdDe="202212",
)
df.head(30)

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명3,분류값ID3,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,서울,Seoul,13102873443A.0001,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,3193351
1,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,부산,Busan,13102873443A.0002,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1499503
2,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,대구,Daegu,13102873443A.0003,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1230183
3,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,인천,Incheon,13102873443A.0004,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1692760
4,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,광주,Gwangju,13102873443A.0005,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,714401
5,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,대전,Daejeon,13102873443A.0006,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,707928
6,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,울산,Ulsan,13102873443A.0007,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,588079
7,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,경기,Gyeonggi,13102873443A.0008,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,6378632
8,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,세종,Sejong,13102873443A.0009,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,193711
9,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,강원,Gangwon-do,13102873443A.0010,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,851553
10,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,충북,Chungcheongbuk-do,13102873443A.0011,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,916455
11,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,충남,Chungcheongnam-do,13102873443A.0012,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1211477
12,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,전북,Jeollabuk-do,13102873443A.0013,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,977834
13,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,전남,Jeollanam-do,13102873443A.0014,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1236858
14,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,경북,Gyeongsangbuk-do,13102873443A.0015,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1523914
15,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,경남,Gyeongsangnam-do,13102873443A.0016,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,1896515
16,116,DT_MLTM_5498,자동차등록대수현황 시도별,시도명,City/Province,제주,Jeju,13102873443A.0017,시군구,SiGunGu,...,Total,13102873443C.0005,13103873443T4,계,Total,대,vehicle,M,202212,689924

In [25]:
#jsonUrl = 'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=OTY3NjI0YWVkN2Q3ZjIxOTk4MGZiZDcwODMwZjVhYjY=&itmId=13103873443T4+&objL1=13102873443A.0001+13102873443A.0002+13102873443A.0003+13102873443A.0004+13102873443A.0005+13102873443A.0006+13102873443A.0007+13102873443A.0008+13102873443A.0009+13102873443A.0010+13102873443A.0011+13102873443A.0012+13102873443A.0013+13102873443A.0014+13102873443A.0015+13102873443A.0016+13102873443A.0017+&objL2=13102873443B.0002+13102873443B.0001+13102873443B.0003+13102873443B.0004+13102873443B.0005+13102873443B.0006+13102873443B.0007+13102873443B.0008+13102873443B.0009+13102873443B.0010+13102873443B.0011+13102873443B.0012+13102873443B.0013+13102873443B.0014+13102873443B.0015+13102873443B.0016+13102873443B.0017+13102873443B.0018+13102873443B.0019+13102873443B.0020+13102873443B.0021+13102873443B.0022+13102873443B.0023+13102873443B.0024+13102873443B.0025+13102873443B.0026+13102873443B.0027+13102873443B.0028+13102873443B.0029+13102873443B.0030+13102873443B.0031+13102873443B.0032+13102873443B.0033+13102873443B.0034+13102873443B.0035+13102873443B.0036+13102873443B.0037+13102873443B.0038+13102873443B.0039+13102873443B.0040+13102873443B.0041+13102873443B.0042+13102873443B.0043+13102873443B.0044+13102873443B.0045+13102873443B.0046+13102873443B.0047+13102873443B.0048+13102873443B.0049+13102873443B.0050+13102873443B.0051+13102873443B.0052+13102873443B.0053+13102873443B.0054+13102873443B.0055+13102873443B.0056+13102873443B.0057+13102873443B.0058+13102873443B.0059+13102873443B.0060+13102873443B.0061+13102873443B.0062+13102873443B.0063+13102873443B.0064+13102873443B.0065+13102873443B.0066+13102873443B.0067+13102873443B.0068+13102873443B.0069+13102873443B.0070+13102873443B.0071+13102873443B.0072+13102873443B.0073+13102873443B.0074+13102873443B.0075+13102873443B.0076+13102873443B.0077+13102873443B.0078+13102873443B.0079+13102873443B.0080+13102873443B.0081+13102873443B.0082+13102873443B.0083+13102873443B.0084+13102873443B.0085+13102873443B.0086+13102873443B.0087+13102873443B.0088+13102873443B.0089+13102873443B.0090+13102873443B.0091+13102873443B.0092+13102873443B.0093+13102873443B.0094+13102873443B.0095+13102873443B.0096+13102873443B.0097+13102873443B.0098+13102873443B.0099+13102873443B.0100+13102873443B.0101+13102873443B.0102+13102873443B.0103+13102873443B.0104+13102873443B.0105+13102873443B.0106+13102873443B.0107+13102873443B.0108+13102873443B.0109+13102873443B.0110+13102873443B.0111+13102873443B.0112+13102873443B.0113+13102873443B.0114+13102873443B.0115+13102873443B.0116+13102873443B.0117+13102873443B.0118+13102873443B.0119+13102873443B.0120+13102873443B.0121+13102873443B.0122+13102873443B.0123+13102873443B.0124+13102873443B.0125+13102873443B.0126+13102873443B.0127+13102873443B.0128+13102873443B.0129+13102873443B.0130+13102873443B.0131+13102873443B.0132+13102873443B.0133+13102873443B.0134+13102873443B.0135+13102873443B.0136+13102873443B.0137+13102873443B.0138+13102873443B.0139+13102873443B.0140+13102873443B.0141+13102873443B.0142+13102873443B.0143+13102873443B.0144+13102873443B.0145+13102873443B.0146+13102873443B.0147+13102873443B.0148+13102873443B.0149+13102873443B.0150+13102873443B.0151+13102873443B.0152+13102873443B.0153+13102873443B.0154+13102873443B.0155+13102873443B.0156+13102873443B.0157+13102873443B.0158+13102873443B.0159+13102873443B.0160+13102873443B.0161+13102873443B.0162+13102873443B.0163+13102873443B.0164+13102873443B.0165+13102873443B.0166+13102873443B.0167+13102873443B.0168+13102873443B.0169+13102873443B.0170+13102873443B.0171+13102873443B.0172+13102873443B.0173+13102873443B.0174+13102873443B.0175+13102873443B.0176+13102873443B.0177+13102873443B.0178+13102873443B.0179+13102873443B.0180+13102873443B.0181+13102873443B.0182+13102873443B.0183+13102873443B.0184+13102873443B.0185+13102873443B.0186+13102873443B.0187+13102873443B.0188+13102873443B.0189+13102873443B.0190+13102873443B.0191+13102873443B.0192+13102873443B.0193+13102873443B.0194+13102873443B.0195+13102873443B.0196+13102873443B.0197+13102873443B.0198+13102873443B.0199+13102873443B.0200+13102873443B.0201+13102873443B.0202+13102873443B.0203+13102873443B.0204+13102873443B.0205+13102873443B.0206+13102873443B.0207+13102873443B.0208+13102873443B.0209+13102873443B.0210+13102873443B.0211+13102873443B.0212+13102873443B.0213+13102873443B.0214+13102873443B.0215+13102873443B.0216+13102873443B.0217+13102873443B.0218+13102873443B.0219+13102873443B.0220+13102873443B.0221+13102873443B.0222+13102873443B.0223+13102873443B.0224+13102873443B.0225+13102873443B.0226+13102873443B.0227+13102873443B.0228+13102873443B.0229+13102873443B.0230+13102873443B.0231+13102873443B.0232+13102873443B.0233+13102873443B.0234+13102873443B.0235+13102873443B.0236+13102873443B.0237+13102873443B.0238+13102873443B.0239+13102873443B.0240+13102873443B.0241+&objL3=13102873443C.0005+&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=1&orgId=116&tblId=DT_MLTM_5498'
#from pandas.io.json import json_normalize
#import requests

# 정상 여부 확인
#response = requests.get(jsonUrl)
#response

# 결과 : <Response [200]>

# JSON 데이터 획득
#json = response.json()
#json

시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률

In [26]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률"
)
df.head()

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,177,질병관리청,DT_117075_H_DR_DRIV,시・군・구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,2008057,지역사회건강조사,MT_ZTITLE,보건 > 지역사회건강조사 > 안전의식(손상) 및 심폐소생술 > 안전의식(손상),F > F_001 > F_001_004 > F_001_004_001,시군구별 표준화율표준오차 조율표준오차 응답자수 표준화율 조율 이천시 포천시 권선구 ...,2009,2021,○정의: 최근 1년 동안 조금이라도 술을 마신 후 자동차 또는 오토바이를 운전한 적...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=177...,1,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률

In [27]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="177",
    tblId="DT_117075_H_DR_DRIV"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

      수록시점
       min   max
수록주기
년     2009  2021

In [28]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="177",
    tblId="DT_117075_H_DR_DRIV",
)
item.head(10)

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,177,DT_117075_H_DR_DRIV,14STD04553,명,ITEM,항목,Item code list,N,응답자수,N,NaN,NaN,Person
1,177,DT_117075_H_DR_DRIV,14STD00018,%,ITEM,항목,Item code list,CR,조율,Crude Death Rate,NaN,NaN,%
2,177,DT_117075_H_DR_DRIV,NaN,NaN,ITEM,항목,Item code list,CR_SE,조율표준오차,Standard Error,NaN,NaN,NaN
3,177,DT_117075_H_DR_DRIV,14STD00018,%,ITEM,항목,Item code list,SR,표준화율,Standardized Rate,NaN,NaN,%
4,177,DT_117075_H_DR_DRIV,NaN,NaN,ITEM,항목,Item code list,SR_SE,표준화율표준오차,Standard Error,NaN,NaN,NaN
5,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,001,서울특별시,Seoul,NaN,1,NaN
6,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00101,강남구,Seoul Gangnam-gu,001,1,NaN
7,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00102,강동구,Seoul Gangdong-gu,001,1,NaN
8,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00103,강북구,Seoul Gangbuk-gu,001,1,NaN
9,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00104,강서구,Seoul Gangseo-gu,001,1,NaN

In [29]:
item['분류ID'].unique().tolist()

['ITEM', 'CHS_CT']

In [30]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,177,DT_117075_H_DR_DRIV,14STD04553,명,ITEM,항목,Item code list,N,응답자수,N,NaN,NaN,Person
1,177,DT_117075_H_DR_DRIV,14STD00018,%,ITEM,항목,Item code list,CR,조율,Crude Death Rate,NaN,NaN,%
2,177,DT_117075_H_DR_DRIV,NaN,NaN,ITEM,항목,Item code list,CR_SE,조율표준오차,Standard Error,NaN,NaN,NaN
3,177,DT_117075_H_DR_DRIV,14STD00018,%,ITEM,항목,Item code list,SR,표준화율,Standardized Rate,NaN,NaN,%
4,177,DT_117075_H_DR_DRIV,NaN,NaN,ITEM,항목,Item code list,SR_SE,표준화율표준오차,Standard Error,NaN,NaN,NaN

In [31]:
item.loc[item["분류ID"]=="CHS_CT"].head(30)

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
5,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,001,서울특별시,Seoul,NaN,1,NaN
6,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00101,강남구,Seoul Gangnam-gu,001,1,NaN
7,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00102,강동구,Seoul Gangdong-gu,001,1,NaN
8,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00103,강북구,Seoul Gangbuk-gu,001,1,NaN
9,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00104,강서구,Seoul Gangseo-gu,001,1,NaN
10,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00105,관악구,Seoul Gwanak-gu,001,1,NaN
11,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00106,광진구,Seoul Gwangjin-gu,001,1,NaN
12,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00107,구로구,Seoul Guro-gu,001,1,NaN
13,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00108,금천구,Seoul Geumcheon-gu,001,1,NaN
14,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00109,노원구,Seoul Nowon-gu,001,1,NaN
15,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00110,도봉구,Seoul Dobong-gu,001,1,NaN
16,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00111,동대문구,Seoul Dongdaemun-gu,001,1,NaN
17,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00112,동작구,Seoul Dongjak-gu,001,1,NaN
18,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00113,마포구,Seoul Mapo-gu,001,1,NaN
19,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00114,서대문구,Seoul Seodaemun-gu,001,1,NaN
20,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00115,서초구,Seoul Seocho-gu,001,1,NaN
21,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00116,성동구,Seoul Seongdong-gu,001,1,NaN
22,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00117,성북구,Seoul Seongbuk-gu,001,1,NaN
23,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00118,송파구,Seoul Songpa-gu,001,1,NaN
24,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00119,양천구,Seoul Yangcheon-gu,001,1,NaN
25,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00120,영등포구,Seoul Yeongdeungpo-gu,001,1,NaN
26,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00121,용산구,Seoul Yongsan-gu,001,1,NaN
27,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00122,은평구,Seoul Eunpyeong-gu,001,1,NaN
28,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00123,종로구,Seoul Jongno-gu,001,1,NaN
29,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00124,중구,Seoul Jung-gu,001,1,NaN
30,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00125,중랑구,Seoul Jungnang-gu,001,1,NaN
31,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,002,부산광역시,Busan,NaN,1,NaN
32,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00201,강서구,Busan Gangseo-gu,002,1,NaN
33,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00202,금정구,Busan Geumjeong-gu,002,1,NaN
34,177,DT_117075_H_DR_DRIV,NaN,NaN,CHS_CT,시군구별,Classification of Region of Regional Community...,00203,기장군,Busan Gijang-gun,002,1,NaN

In [32]:
df = api.get_data(
    "통계자료",
    orgId="177",
    tblId="DT_117075_H_DR_DRIV",
    objL1="001 002 003 004 005 006 007 0071 008 009 010 011 012 013 014 015 016",
    #objL2="ALL",
    itmId="N CR CR_SE SR SR_SE",
    prdSe="Y",
    newEstPrdCnt = 1
    #startPrdDe="2021",
    #endPrdDe="2021",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,서울특별시,Seoul,001,CR,조율,Crude Death Rate,%,%,A,2021,0.9
1,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,서울특별시,Seoul,001,CR_SE,조율표준오차,Standard Error,NaN,NaN,A,2021,0.1
2,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,서울특별시,Seoul,001,N,응답자수,N,명,Person,A,2021,12099
3,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,서울특별시,Seoul,001,SR,표준화율,Standardized Rate,%,%,A,2021,1
4,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,서울특별시,Seoul,001,SR_SE,표준화율표준오차,Standard Error,NaN,NaN,A,2021,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,제주특별자치도,Jeju-Do,016,CR,조율,Crude Death Rate,%,%,A,2021,2.8
81,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,제주특별자치도,Jeju-Do,016,CR_SE,조율표준오차,Standard Error,NaN,NaN,A,2021,0.3
82,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,제주특별자치도,Jeju-Do,016,N,응답자수,N,명,Person,A,2021,3615
83,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,제주특별자치도,Jeju-Do,016,SR,표준화율,Standardized Rate,%,%,A,2021,2.9
84,177,DT_117075_H_DR_DRIV,시·군·구별 자동차 또는 오토바이 운전자의 연간 음주운전 경험률,시군구별,Classification of Region of Regional Community...,제주특별자치도,Jeju-Do,016,SR_SE,표준화율표준오차,Standard Error,NaN,NaN,A,2021,0.4

시・도별 도로보급률

In [33]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="시・도별 도로보급률"
)
df.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,116,국토교통부,DT_MLTM_966,시 도별 도로보급률,1976027,도로현황,MT_ZTITLE,교통ㆍ물류 > 도로현황,M2 > M2_10,구분 충북 전남 제주 인천 충남 경기 대전 울산 합계 강원 대구 세종 서울 부산 광...,2013,2021,주1) 면적 : 국토교통부 지적통계연보 주2) 인구 : 행정안전부 주민등록인구통계 ...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=116...,1,시・도별 도로보급률

In [34]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="116",
    tblId="DT_MLTM_966"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

      수록시점
       min   max
수록주기
년     2013  2021

In [35]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="116",
    tblId="DT_MLTM_966",
)
item

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
0,116,DT_MLTM_966,14101.1577,㎞,ITEM,항목,Item code list,13103871034T1,도로연장,Length of roads,NaN,NaN
1,116,DT_MLTM_966,14210.MT0023,㎢,ITEM,항목,Item code list,13103871034T2,면적,Area,NaN,
2,116,DT_MLTM_966,14619.BSM00053,천명,ITEM,항목,Item code list,13103871034T3,인구,Population,NaN,"1,000 Person"
3,116,DT_MLTM_966,14101.STD06125,천대,ITEM,항목,Item code list,13103871034T4,자동차,Vehicle,NaN,Thousand each
4,116,DT_MLTM_966,14STD02896,㎞/㎢,ITEM,항목,Item code list,13103871034T5,면적당 도로연장,Length per area,NaN,㎞/㎢
5,116,DT_MLTM_966,14STD02901,㎞/천명,ITEM,항목,Item code list,13103871034T6,인구당 도로연장,Length per population,NaN,㎞/1000 Persons
6,116,DT_MLTM_966,14STD02900,㎞/천대,ITEM,항목,Item code list,13103871034T7,자동차당 도로연장,Length per vehicle,NaN,㎞/1000
7,116,DT_MLTM_966,14117999392.001,%,ITEM,항목,Item code list,13103871034T8,국도계수당 도로보급률,Road suply ratio per national land coefficient,NaN,％
8,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0001,합계,Total,1,NaN
9,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0002,서울,Seoul,1,NaN
10,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0003,부산,Busan,1,NaN
11,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0004,대구,Daegu,1,NaN
12,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0005,인천,Incheon,1,NaN
13,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0006,광주,Gwangju,1,NaN
14,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0007,대전,Daejeon,1,NaN
15,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0008,울산,Ulsan,1,NaN
16,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0009,세종,Sejong-si,1,NaN
17,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0010,경기,Gyeonggi-do,1,NaN
18,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0011,강원,Gangwon-do,1,NaN
19,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0012,충북,Chungcheongbuk-do,1,NaN
20,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0013,충남,Chungcheongnam-do,1,NaN
21,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0014,전북,Jeollabuk-do,1,NaN
22,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0015,전남,Jeollanam-do,1,NaN
23,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0016,경북,Gyeongsangbuk-do,1,NaN
24,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0017,경남,Gyeongsangnam-do,1,NaN
25,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0018,제주,Jeju-do,1,NaN

In [36]:
item['분류ID'].unique().tolist()

['ITEM', '13101871034A']

In [37]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
0,116,DT_MLTM_966,14101.1577,㎞,ITEM,항목,Item code list,13103871034T1,도로연장,Length of roads,NaN,NaN
1,116,DT_MLTM_966,14210.MT0023,㎢,ITEM,항목,Item code list,13103871034T2,면적,Area,NaN,
2,116,DT_MLTM_966,14619.BSM00053,천명,ITEM,항목,Item code list,13103871034T3,인구,Population,NaN,"1,000 Person"
3,116,DT_MLTM_966,14101.STD06125,천대,ITEM,항목,Item code list,13103871034T4,자동차,Vehicle,NaN,Thousand each
4,116,DT_MLTM_966,14STD02896,㎞/㎢,ITEM,항목,Item code list,13103871034T5,면적당 도로연장,Length per area,NaN,㎞/㎢
5,116,DT_MLTM_966,14STD02901,㎞/천명,ITEM,항목,Item code list,13103871034T6,인구당 도로연장,Length per population,NaN,㎞/1000 Persons
6,116,DT_MLTM_966,14STD02900,㎞/천대,ITEM,항목,Item code list,13103871034T7,자동차당 도로연장,Length per vehicle,NaN,㎞/1000
7,116,DT_MLTM_966,14117999392.001,%,ITEM,항목,Item code list,13103871034T8,국도계수당 도로보급률,Road suply ratio per national land coefficient,NaN,％

In [38]:
item.loc[item["분류ID"]=="13101871034A"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
8,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0001,합계,Total,1,NaN
9,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0002,서울,Seoul,1,NaN
10,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0003,부산,Busan,1,NaN
11,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0004,대구,Daegu,1,NaN
12,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0005,인천,Incheon,1,NaN
13,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0006,광주,Gwangju,1,NaN
14,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0007,대전,Daejeon,1,NaN
15,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0008,울산,Ulsan,1,NaN
16,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0009,세종,Sejong-si,1,NaN
17,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0010,경기,Gyeonggi-do,1,NaN
18,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0011,강원,Gangwon-do,1,NaN
19,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0012,충북,Chungcheongbuk-do,1,NaN
20,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0013,충남,Chungcheongnam-do,1,NaN
21,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0014,전북,Jeollabuk-do,1,NaN
22,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0015,전남,Jeollanam-do,1,NaN
23,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0016,경북,Gyeongsangbuk-do,1,NaN
24,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0017,경남,Gyeongsangnam-do,1,NaN
25,116,DT_MLTM_966,NaN,NaN,13101871034A,구분,Classification,13102871034A.0018,제주,Jeju-do,1,NaN

In [39]:
df = api.get_data(
    "통계자료",
    orgId="116",
    tblId="DT_MLTM_966",
    objL1="ALL",
    itmId="13103871034T2",
    prdSe="M",
    #newEstPrdCnt = 1
    startPrdDe="2021",
    endPrdDe="2021",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,합계,Total,13102871034A.0001,13103871034T2,면적,Area,㎢,,A,2021,100412.7
1,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,서울,Seoul,13102871034A.0002,13103871034T2,면적,Area,㎢,,A,2021,605.2
2,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,부산,Busan,13102871034A.0003,13103871034T2,면적,Area,㎢,,A,2021,770.1
3,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,대구,Daegu,13102871034A.0004,13103871034T2,면적,Area,㎢,,A,2021,883.5
4,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,인천,Incheon,13102871034A.0005,13103871034T2,면적,Area,㎢,,A,2021,1065.2
5,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,광주,Gwangju,13102871034A.0006,13103871034T2,면적,Area,㎢,,A,2021,501.1
6,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,대전,Daejeon,13102871034A.0007,13103871034T2,면적,Area,㎢,,A,2021,539.7
7,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,울산,Ulsan,13102871034A.0008,13103871034T2,면적,Area,㎢,,A,2021,1062.1
8,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,세종,Sejong-si,13102871034A.0009,13103871034T2,면적,Area,㎢,,A,2021,464.9
9,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,경기,Gyeonggi-do,13102871034A.0010,13103871034T2,면적,Area,㎢,,A,2021,10195.3
10,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,강원,Gangwon-do,13102871034A.0011,13103871034T2,면적,Area,㎢,,A,2021,16829.7
11,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,충북,Chungcheongbuk-do,13102871034A.0012,13103871034T2,면적,Area,㎢,,A,2021,7407
12,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,충남,Chungcheongnam-do,13102871034A.0013,13103871034T2,면적,Area,㎢,,A,2021,8246.2
13,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,전북,Jeollabuk-do,13102871034A.0014,13103871034T2,면적,Area,㎢,,A,2021,8069.8
14,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,전남,Jeollanam-do,13102871034A.0015,13103871034T2,면적,Area,㎢,,A,2021,12348.1
15,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,경북,Gyeongsangbuk-do,13102871034A.0016,13103871034T2,면적,Area,㎢,,A,2021,19034
16,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,경남,Gyeongsangnam-do,13102871034A.0017,13103871034T2,면적,Area,㎢,,A,2021,10540.6
17,116,DT_MLTM_966,시・도별 도로보급률,구분,Classification,제주,Jeju-do,13102871034A.0018,13103871034T2,면적,Area,㎢,,A,2021,1850.2

시도별 의료보장 적용인구 현황

In [40]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="시도별 의료보장 적용인구 현황"
)
df.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,350,국민건강보험공단,TX_35003_A001,시도별 의료보장 적용인구 현황,2007256,지역별의료이용통계,MT_ZTITLE,보건 > 지역별의료이용통계 > 시도별,F > F_53 > 350_35003_1,시도별 가입자별 전북 전남 제주 서울 대전 세종 경북 경남 인천 충북 충남 광주 대...,2006,2021,연도말 기준 주민등록 실거주지 기준,Y,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=350...,9,시도별 의료보장 적용인구 현황

In [41]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="350",
    tblId="TX_35003_A001"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

      수록시점
       min   max
수록주기
년     2006  2021

In [42]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="350",
    tblId="TX_35003_A001",
)
item.head()

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,350,TX_35003_A001,NaN,NaN,ITEM,항목,Item code list,16350AAB5,적용인구,Beneficiaries,NaN,NaN,NaN
1,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG00,계,Whole Country,NaN,1,NaN
2,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG11,서울,Seoul,NaN,1,NaN
3,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG21,부산,Busan,NaN,1,NaN
4,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG22,대구,Daegu,NaN,1,NaN

In [43]:
item['분류ID'].unique().tolist()

['ITEM', '11101HJG', '15350AG6']

In [44]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,350,TX_35003_A001,NaN,NaN,ITEM,항목,Item code list,16350AAB5,적용인구,Beneficiaries,NaN,NaN,NaN

In [45]:
item.loc[item["분류ID"]=="11101HJG"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
1,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG00,계,Whole Country,NaN,1,NaN
2,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG11,서울,Seoul,NaN,1,NaN
3,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG21,부산,Busan,NaN,1,NaN
4,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG22,대구,Daegu,NaN,1,NaN
5,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG23,인천,Incheon,NaN,1,NaN
6,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG24,광주,Gwangju,NaN,1,NaN
7,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG25,대전,Daejeon,NaN,1,NaN
8,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG26,울산,Ulsan,NaN,1,NaN
9,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG260,세종,Sejong,NaN,1,NaN
10,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG31,경기,Gyeonggi-do,NaN,1,NaN
11,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG32,강원,Gangwon-do,NaN,1,NaN
12,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG33,충북,Chungcheongbuk-do,NaN,1,NaN
13,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG34,충남,Chungcheongnam-do,NaN,1,NaN
14,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG35,전북,Jeollabuk-do,NaN,1,NaN
15,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG36,전남,Jeollanam-do,NaN,1,NaN
16,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG37,경북,Gyeongsangbuk-do,NaN,1,NaN
17,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG38,경남,Gyeongsangnam-do,NaN,1,NaN
18,350,TX_35003_A001,NaN,NaN,11101HJG,시도별,By District,11101HJG39,제주,Jeju-do,NaN,1,NaN

In [46]:
item.loc[item["분류ID"]=="15350AG6"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
19,350,TX_35003_A001,14STD04547,명,15350AG6,가입자별,By Employee and Insurance,15350AG6AA,의료보장 적용인구,Beneficiaries of Medical Security,NaN,2,In Person
20,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AB,근로자,Worker,NaN,2,NaN
21,350,TX_35003_A001,14STD03221,개,15350AG6,가입자별,By Employee and Insurance,15350AG6ABAA,사업장수,Establishments,15350AG6AB,2,Each
22,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ABAB,적용인구,Beneficiaries,15350AG6AB,2,In person
23,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ABAC,가입자,Insured,15350AG6AB,2,In person
24,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ABAD,피부양자,Dependents,15350AG6AB,2,In person
25,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AC,공·교,Government Employees and private school Teachers,NaN,2,NaN
26,350,TX_35003_A001,14STD03221,개,15350AG6,가입자별,By Employee and Insurance,15350AG6ACAA,사업장수,Establishments,15350AG6AC,2,Each
27,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ACAB,적용인구,Beneficiaries,15350AG6AC,2,In person
28,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ACAC,가입자,Insured,15350AG6AC,2,In person
29,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ACAD,피부양자,Dependents,15350AG6AC,2,In person
30,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AD,지역,Medical Insurance Program for Self-Employees,NaN,2,NaN
31,350,TX_35003_A001,14STD04548,명,15350AG6,가입자별,By Employee and Insurance,15350AG6ADAA,가입자,Insured,15350AG6AD,2,In person
32,350,TX_35003_A001,14STD05266,세대,15350AG6,가입자별,By Employee and Insurance,15350AG6ADAB,세대수,Households,15350AG6AD,2,Households
33,350,TX_35003_A001,14STD04547,명,15350AG6,가입자별,By Employee and Insurance,15350AG6AE,의료급여1종,Medical Aid Class 1,NaN,2,In Person
34,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,A01,적용인구,Beneficiaries,15350AG6AE,2,NaN
35,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AEAA,세대주,Households,15350AG6AE,2,NaN
36,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AEAB,부양가족,Dependents,15350AG6AE,2,NaN
37,350,TX_35003_A001,14STD04547,명,15350AG6,가입자별,By Employee and Insurance,15350AG6AF,의료급여2종,Medical Aid Class 2,NaN,2,In Person
38,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,A02,적용인구,Beneficiaries,15350AG6AF,2,NaN
39,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AFAA,세대주,Households,15350AG6AF,2,NaN
40,350,TX_35003_A001,NaN,NaN,15350AG6,가입자별,By Employee and Insurance,15350AG6AFAB,부양가족,Dependents,15350AG6AF,2,NaN

In [47]:
df = api.get_data(
    "통계자료",
    orgId="350",
    tblId="TX_35003_A001",
    objL1="ALL",
    objL2="15350AG6ABAA",
    #objL3="15350AG6ABAA",
    itmId="16350AAB5",
    prdSe="Y",
    startPrdDe="2021",
    endPrdDe="2021",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명2,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,계,Whole Country,11101HJG00,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,1990155
1,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,서울,Seoul,11101HJG11,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,476909
2,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,부산,Busan,11101HJG21,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,124088
3,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,대구,Daegu,11101HJG22,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,86563
4,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,인천,Incheon,11101HJG23,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,98987
5,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,광주,Gwangju,11101HJG24,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,59226
6,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,대전,Daejeon,11101HJG25,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,54409
7,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,울산,Ulsan,11101HJG26,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,32598
8,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,세종,Sejong,11101HJG260,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,9821
9,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,경기,Gyeonggi-do,11101HJG31,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,520630
10,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,강원,Gangwon-do,11101HJG32,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,53602
11,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,충북,Chungcheongbuk-do,11101HJG33,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,56290
12,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,충남,Chungcheongnam-do,11101HJG34,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,71155
13,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,전북,Jeollabuk-do,11101HJG35,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,61203
14,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,전남,Jeollanam-do,11101HJG36,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,58901
15,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,경북,Gyeongsangbuk-do,11101HJG37,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,84939
16,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,경남,Gyeongsangnam-do,11101HJG38,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,111113
17,350,TX_35003_A001,시도별 의료보장 적용인구 현황,시도별,By District,제주,Jeju-do,11101HJG39,가입자별,By Employee and Insurance,...,Establishments,15350AG6ABAA,16350AAB5,적용인구,Beneficiaries,개,Each,A,2021,29721

시도별 교통사고

In [48]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="시도별 교통사고"
)
df.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,132,경찰청,DT_V_MOTA_016,시도별 교통사고,1976065,경찰접수교통사고현황,MT_ZTITLE,범죄ㆍ안전 > 경찰접수교통사고현황,C > C_5,시도별 월별 경기 충남 전북 경북 인천 부산 세종 서울 충북 경남 제주 광주 울산 ...,2005,2021,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=132...,434,시도별 교통사고

In [49]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="132",
    tblId="DT_V_MOTA_016"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

      수록시점
       min   max
수록주기
년     2005  2021

In [50]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="132",
    tblId="DT_V_MOTA_016",
)
item

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
0,132,DT_V_MOTA_016,14STD03817,건,ITEM,항목,Item code list,13103112880NO_ACCI,사고건수,Number of accident,NaN,Case
1,132,DT_V_MOTA_016,14STD04553,명,ITEM,항목,Item code list,13103112880NO_DEATH,사망자수,Number of Deaths,NaN,Person
2,132,DT_V_MOTA_016,14STD04553,명,ITEM,항목,Item code list,13103112880NO_WOUND,부상자수,Number of The Injured,NaN,Person
3,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1100,서울,Seoul,1,NaN
4,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1200,부산,Busan,1,NaN
5,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2200,대구,Daegu,1,NaN
6,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2300,인천,Incheon,1,NaN
7,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2400,광주,Gwangju,1,NaN
8,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2500,대전,Daejeon,1,NaN
9,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2600,울산,Ulsan,1,NaN
10,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2700,세종,Sejong-si,1,NaN
11,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1300,경기,Gyeonggi-do,1,NaN
12,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1400,강원,Gangwon-do,1,NaN
13,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1500,충북,Chungcheongbuk-do,1,NaN
14,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1600,충남,Chungcheongnam-do,1,NaN
15,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1700,전북,Jeollabuk-do,1,NaN
16,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1800,전남,Jeollanam-do,1,NaN
17,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1900,경북,Gyeongsangbuk-do,1,NaN
18,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2000,경남,Gyeongsangnam-do,1,NaN
19,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2100,제주,Jeju-do,1,NaN
20,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M00,전체,Total,2,NaN
21,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M01,1월,January,2,NaN
22,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M02,2월,February,2,NaN
23,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M03,3월,March,2,NaN
24,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M04,4월,April,2,NaN
25,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M05,5월,May,2,NaN
26,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M06,6월,June,2,NaN
27,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M07,7월,July,2,NaN
28,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M08,8월,August,2,NaN
29,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M09,9월,September,2,NaN
30,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M10,10월,October,2,NaN
31,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M11,11월,November,2,NaN
32,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M12,12월,December,2,NaN

In [51]:
item['분류ID'].unique().tolist()

['ITEM', '13101112880MOTA', 'M']

In [52]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
0,132,DT_V_MOTA_016,14STD03817,건,ITEM,항목,Item code list,13103112880NO_ACCI,사고건수,Number of accident,NaN,Case
1,132,DT_V_MOTA_016,14STD04553,명,ITEM,항목,Item code list,13103112880NO_DEATH,사망자수,Number of Deaths,NaN,Person
2,132,DT_V_MOTA_016,14STD04553,명,ITEM,항목,Item code list,13103112880NO_WOUND,부상자수,Number of The Injured,NaN,Person

In [53]:
item.loc[item["분류ID"]=="13101112880MOTA"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
3,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1100,서울,Seoul,1,NaN
4,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1200,부산,Busan,1,NaN
5,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2200,대구,Daegu,1,NaN
6,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2300,인천,Incheon,1,NaN
7,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2400,광주,Gwangju,1,NaN
8,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2500,대전,Daejeon,1,NaN
9,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2600,울산,Ulsan,1,NaN
10,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2700,세종,Sejong-si,1,NaN
11,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1300,경기,Gyeonggi-do,1,NaN
12,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1400,강원,Gangwon-do,1,NaN
13,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1500,충북,Chungcheongbuk-do,1,NaN
14,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1600,충남,Chungcheongnam-do,1,NaN
15,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1700,전북,Jeollabuk-do,1,NaN
16,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1800,전남,Jeollanam-do,1,NaN
17,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.1900,경북,Gyeongsangbuk-do,1,NaN
18,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2000,경남,Gyeongsangnam-do,1,NaN
19,132,DT_V_MOTA_016,NaN,NaN,13101112880MOTA,시도별,By Sido,13102112880MOTA.2100,제주,Jeju-do,1,NaN

In [54]:
item.loc[item["분류ID"]=="M"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,CD_ENG_NM
20,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M00,전체,Total,2,NaN
21,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M01,1월,January,2,NaN
22,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M02,2월,February,2,NaN
23,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M03,3월,March,2,NaN
24,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M04,4월,April,2,NaN
25,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M05,5월,May,2,NaN
26,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M06,6월,June,2,NaN
27,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M07,7월,July,2,NaN
28,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M08,8월,August,2,NaN
29,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M09,9월,September,2,NaN
30,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M10,10월,October,2,NaN
31,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M11,11월,November,2,NaN
32,132,DT_V_MOTA_016,NaN,NaN,M,월별,By Month,13102112880M12,12월,December,2,NaN

In [55]:
df = api.get_data(
    "통계자료",
    orgId="132",
    tblId="DT_V_MOTA_016",
    objL1="ALL",
    objL2="13102112880M00 13102112880M01 13102112880M02 13102112880M03 13102112880M04 13102112880M05 13102112880M06 13102112880M07 13102112880M08 13102112880M09 13102112880M10 13102112880M11 13102112880M12",
    #objL3="M",
    itmId="13103112880NO_ACCI 13103112880NO_DEATH 13103112880NO_WOUND",
    prdSe="Y",
    startPrdDe="2021",
    endPrdDe="2021",
)
df.head(30)

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명2,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,Total,13102112880M00,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,33913
1,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,Total,13102112880M00,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,243
2,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,Total,13102112880M00,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,45223
3,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,January,13102112880M01,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2717
4,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,January,13102112880M01,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,17
5,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,January,13102112880M01,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3690
6,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,February,13102112880M02,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2505
7,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,February,13102112880M02,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,21
8,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,February,13102112880M02,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3334
9,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,March,13102112880M03,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2789
10,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,March,13102112880M03,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,12
11,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,March,13102112880M03,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3740
12,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,April,13102112880M04,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2952
13,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,April,13102112880M04,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,14
14,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,April,13102112880M04,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3987
15,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,May,13102112880M05,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2963
16,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,May,13102112880M05,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,24
17,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,May,13102112880M05,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3994
18,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,June,13102112880M06,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2990
19,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,June,13102112880M06,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,16
20,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,June,13102112880M06,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3960
21,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,July,13102112880M07,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2874
22,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,July,13102112880M07,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,21
23,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,July,13102112880M07,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3781
24,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,August,13102112880M08,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2778
25,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,August,13102112880M08,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,25
26,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,August,13102112880M08,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3702
27,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,September,13102112880M09,13103112880NO_ACCI,사고건수,Number of accident,건,Case,A,2021,2737
28,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,September,13102112880M09,13103112880NO_DEATH,사망자수,Number of Deaths,명,Person,A,2021,24
29,132,DT_V_MOTA_016,시도별 교통사고,시도별,By Sido,서울,Seoul,13102112880MOTA.1100,월별,By Month,...,September,13102112880M09,13103112880NO_WOUND,부상자수,Number of The Injured,명,Person,A,2021,3547

CCTV
전국CCTV표준데이터
https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15013094

In [56]:
url = 'http://api.data.go.kr/openapi/tn_pubr_public_cctv_api'
key = 'buNPq8BZdGw2p%2B3l2B7IMBy3e9PX5fahBKLPiW518y4yMZsQFDJeQW9fpNMb2nt7Xu6j4vz6txHwT5%2BrcFrwhA%3D%3D'


queryParams = f'?{parse.quote_plus("serviceKey")}={key}&' + parse.urlencode({
#parse.quote_plus("ocrn_ymd"): '20230119',
#parse.quote_plus("siDo"): '1100',
parse.quote_plus("resultType"): 'xml' ,
parse.quote_plus("numOfRows"): 100,
parse.quote_plus("pageNo"): 1
})

# xml로 받아온 response
response = requests.get(url + queryParams).text
# xmltodict로 dictionary형태로 바꿔줌
jsonString = json.dumps(xmltodict.parse(response), indent=4)
# dictiondary to json
dic = json.loads(jsonString)
#dic
#body = dic['response']['body']['items']['item']

#df1 = pd.json_normalize(body)

In [57]:
dic

{'response': {'header': {'resultCode': '30',
   'resultMsg': 'SERVICE KEY IS NOT REGISTERED ERROR.'}}}

창고 및 운송관련 서비스 업체수

In [58]:
df = api.get_data(
    "KOSIS통합검색",
    searchNm="시도별/산업별 총괄"
)
df

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,101,통계청,DT_2KB9001,시도/산업별 총괄,1988019,서비스업조사,MT_ZTITLE,도소매ㆍ서비스 > 서비스업조사 > 등록기반 > 10차 산업분류 개정(2020~),O > O_8 > O_8_001 > O_8_001_001,산업별 시도별 종사자수 남 기타경비 임차료 여 매출액 인건비 영업이익 영업비용 사업...,2020,2020,o 산업분류는 한국표준산업분류 제10차 개정(2017년 7월) 적용 o 2020년 ...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
1,101,통계청,DT_2KI2065,시도/산업별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 특성편 ...,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업별 시도별 종사자수 기타경비 남 매출액 영업비용 사업체수 급여총액 여 매출원가 ...,2020,2020,o 산업분류는 한국표준산업분류 제10차 개정(2017년 7월) 적용 o 2020년 ...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
2,101,통계청,DT_1I202001,시도별/산업별 총괄,1978009,운수업조사,MT_ZTITLE,"교통ㆍ물류 > 운수업조사 > 운수업조사(2020~: 10차 산업분류기준, SBR기준)",M2 > M2_13 > M2_13_001,산업별 시도별 매출액 유형자산 기업체수 영업비용 부가가치 종사자수 급여액 운송수단 ...,2019,2020,* 이용자 안내 2020년 기준 운수업조사 결과는 행정자료에 기초한 모집단을 새롭게...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
3,101,통계청,DT_1KB9001,시도/산업별 총괄,1988019,서비스업조사,MT_ZTITLE,도소매ㆍ서비스 > 서비스업조사 > 조사기반 > 10차_서비스업조사(2016~),O > O_8 > O_8_002 > J_20_6,산업별 시도별 임차료 상대표준오차 매출원가 판매비와 관리비 기타경비 사업체수 종사자...,2016,2019,o 한국산업표준분류 10차개정 ＇17년 7월 시행 o 2016년부터 서비스업조사(도...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
4,101,통계청,DT_1I100001,시도별/산업별 총괄,1978009,운수업조사,MT_ZTITLE,교통ㆍ물류 > 운수업조사 > 운수업조사(2007~2019: 10차 산업분류기준),M2 > M2_13 > I11_I10,산업별 시도별 운송수단 및 창고수 기업체수 급여액 영업비용 부가가치 유형자산 매출액...,2007,2019,* 특수여객자동차운송업 : 장의차량을 운영하는 산업활동 * 늘찬배달업 : 도시내에서...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
5,101,통계청,DT_1KB6001,시도/산업별 총괄,1988019,서비스업조사,MT_ZTITLE,도소매ㆍ서비스 > 서비스업조사 > 조사기반 > 9차_서비스업조사(2007~2016),O > O_8 > O_8_002 > J_20_1,산업별 시도별 연간급여액 인건비 기타경비 매출액 영업비용 임차료 건물연면적 사업체수...,2006,2016,"o 2016년 기준 서비스업조사 통계자료(대분류 M. 전문과학기술서비스업, 9차산업...",N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
6,101,통계청,DT_2KI2009,시・도별/산업세분류별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(세분류) 행정구역(시도) 급여총액 경상연구개발비 사업체수 임차료 여 영업비...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
7,101,통계청,DT_2KI2016,시 도별/산업소분류별/조직형태별/본 지점별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(소분류) 행정구역(시도) 조직형태 본 지점 사업체수 영업비용 종사자수 매출...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
8,101,통계청,DT_2KI2013,시 도별/산업소분류별/종사자규모별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(소분류) 행정구역(시도) 종사자규모 인건비 급여총액 경상연구개발비 영업이익...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
9,101,통계청,DT_2KI2015,시 도별/산업소분류별/매출액규모별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(소분류) 행정구역(시도) 매출액규모 종사자수 인건비 임차료 영업이익 남 매...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
10,101,통계청,DT_2KI2012,시 도별/산업소분류별/조직형태별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(소분류) 행정구역(시도) 조직형태 사업체수 종사자수 매출액 영업비용 영업이...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
11,101,통계청,DT_2KI2045,"[도소매,숙박,음식주점]시・도별/산업소분류별/건물연면적규모별 총괄",2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 등록기반 > 10차 개정 > 2020년 > 특성편 ...,J1 > J1_3 > J1_3_001 > J1_3_001_001 > J1_3_001...,산업분류(소분류) 행정구역(시도) 건물연면적 규모 사업체수 급여총액 남 매출액 영업...,2020,2020,,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
12,101,통계청,DT_1KI2004_S,시・도별/산업대분류별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,"산업분류(대분류) 행정구역(시도) 사업체수 매출액 영업이익 종사자수 영업비용 수도,...",2020,2020,20년 기준 조사기반 사업실적은 15년 기준(조사기반) 자료와 비교를 위하여 재배분하였음,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
13,101,통계청,DT_1KI2005_S,시 도별/산업대분류별/종사자규모별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,산업분류(대분류) 행정구역(시도) 종사자규모 사업체수 종사자수 영업비용 매출액 영업...,2020,2020,20년 기준 조사기반 사업실적은 15년 기준(조사기반) 자료와 비교를 위하여 재배분하였음,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
14,101,통계청,DT_1KI2006_S,시 도별/산업대분류별/매출액규모별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2020년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,산업분류(소분류) 행정구역(시도) 매출액규모 종사자수 영업이익 매출액 사업체수 영업...,2020,2020,20년 기준 조사기반 사업실적은 15년 기준(조사기반) 자료와 비교를 위하여 재배분하였음,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
15,101,통계청,DT_1KI1509_10,시도별 산업소분류별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2015년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,산업분류별 행정구역별 종사자수 남 매출액 여 영업이익 사업체수 영업비용 통신 및 방...,2015,2015,1. ＇15년 기준 경제총조사 자료는 9차 산업분류를 10차로 연계하여 서비스 2....,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
16,115,산업통상자원부,DT_115026_A004,[중앙부처및지자체]디자인 전담부서 소속,2007410,디자인산업통계,MT_ZTITLE,도소매ㆍ서비스 > 디자인산업통계 > 2015년~ > 중앙부처및지자체,O > O_6 > 115_11526_2017 > 115_11526_2017_001,... 대전/충청 디자인전담 부서 여부별 전담부서 있음 모름/무응답 3천억원 미만 ...,2016,2018,중복응답 BASE:디자인 전담부서 및 디자이너 여부에서 디자인 전담부서가 있는 기관,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=115...,220,시도별/산업별 총괄
17,115,산업통상자원부,DT_115026_A021,[중앙부처및지자체]디자인 전담부서가 없는 경우 공공디자인 사업 담당 소속,2007410,디자인산업통계,MT_ZTITLE,도소매ㆍ서비스 > 디자인산업통계 > 2015년~ > 중앙부처및지자체,O > O_6 > 115_11526_2017 > 115_11526_2017_001,... 중앙부처 시(기초) 부 처 광주/전라 강원/제주 전담부서 있음 2천억원 미만...,2016,2018,BASE:디자인 전담부서 및 디자이너 여부에서 디자이너만 있거나 디자인 전담부서 없...,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=115...,220,시도별/산업별 총괄
18,101,통계청,DT_1KI1514_10,시도별 산업소분류별 종사상지위별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2015년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,산업분류별 행정구역별 자영업자 여자 남자 여자 남자 남자 사업체수 기타종사자 임시 ...,2015,2015,1. ＇15년 기준 경제총조사 자료는 9차 산업분류를 10차로 연계하여 서비스 2....,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄
19,101,통계청,DT_1KI1512_10,시도별 산업소분류별 조직형태별 총괄,2010012,경제총조사,MT_ZTITLE,경제일반ㆍ경기 > 경제총조사 > 조사기반 > 10차 개정 > 2015년 > 지역편,J1 > J1_3 > J1_3_002 > J1_3_002_001 > J1_3_002...,산업분류별 행정구역별 조직형태별 종사자수 남 사업체수 영업이익 매출액 영업비용 여 ...,2015,2015,1. ＇15년 기준 경제총조사 자료는 9차 산업분류를 10차로 연계하여 서비스 2....,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,220,시도별/산업별 총괄

In [59]:
df = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId="101",
    tblId="DT_1I202001"
)

df.groupby(by=['수록주기']).agg({"수록시점": ["min", "max"]})

      수록시점
       min   max
수록주기
년     2019  2020

In [60]:
item = api.get_data(
    "통계표설명",
    "분류항목",
    orgId="101",
    tblId="DT_1I202001",
)
item

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,101,DT_1I202001,14STD03222,개,ITEM,항목,Item code list,T1,기업체수,Number of Enterprises,NaN,NaN,Establishment
1,101,DT_1I202001,14STD04552,명,ITEM,항목,Item code list,T2,종사자수,no. of workers,NaN,NaN,PERSONS
2,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T3,급여액,Remuneration,NaN,NaN,Million Won
3,101,DT_1I202001,14STD05329,수,ITEM,항목,Item code list,T4,운송수단 및 창고수,no. of Equipments,NaN,NaN,number
4,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T5,매출액,Revenue,NaN,NaN,Million Won
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52942,수상 화물 취급업,Marine cargo handling,52,2,NaN
74,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52991,통관 대리 및 관련서비스업,Activities of customs agents and related services,52,2,NaN
75,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52992,화물운송 중개 대리 및 관련 서비스업,Activities of freight forwarders and cargo age...,52,2,NaN
76,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52993,화물 포장 검수 및 계량 서비스업,Activities of cargo packing checking and weigh...,52,2,NaN
77,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52999,그 외 기타 분류 안된 운송 관련 서비스업,Other supporting transport services n.e.c.,52,2,NaN

In [61]:
item['분류ID'].unique().tolist()

['ITEM', 'SGG', 'IND_10']

In [62]:
item.loc[item["분류ID"]=="ITEM"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
0,101,DT_1I202001,14STD03222,개,ITEM,항목,Item code list,T1,기업체수,Number of Enterprises,NaN,NaN,Establishment
1,101,DT_1I202001,14STD04552,명,ITEM,항목,Item code list,T2,종사자수,no. of workers,NaN,NaN,PERSONS
2,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T3,급여액,Remuneration,NaN,NaN,Million Won
3,101,DT_1I202001,14STD05329,수,ITEM,항목,Item code list,T4,운송수단 및 창고수,no. of Equipments,NaN,NaN,number
4,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T5,매출액,Revenue,NaN,NaN,Million Won
5,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T6,영업비용,Operating expences,NaN,NaN,Million Won
6,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T7,부가가치,Value added,NaN,NaN,Million Won
7,101,DT_1I202001,14STD05057,백만원,ITEM,항목,Item code list,T8,유형자산,Fixed assets,NaN,NaN,Million Won

In [63]:
item.loc[item["분류ID"]=="SGG"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
8,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,00,전국,Whole country,NaN,1,NaN
9,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,11,서울특별시,Seoul,NaN,1,NaN
10,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,21,부산광역시,Busan,NaN,1,NaN
11,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,22,대구광역시,Daegu,NaN,1,NaN
12,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,23,인천광역시,Incheon,NaN,1,NaN
13,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,24,광주광역시,Gwangju,NaN,1,NaN
14,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,25,대전광역시,Daejeon,NaN,1,NaN
15,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,26,울산광역시,Ulsan,NaN,1,NaN
16,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,29,세종특별자치시,Sejong,NaN,1,NaN
17,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,31,경기도,Gyeonggi-do,NaN,1,NaN
18,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,32,강원도,Gangwon-do,NaN,1,NaN
19,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,33,충청북도,Chungcheongbuk-do,NaN,1,NaN
20,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,34,충청남도,Chungcheongnam-do,NaN,1,NaN
21,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,35,전라북도,Jeollabuk-do,NaN,1,NaN
22,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,36,전라남도,Jeollanam-do,NaN,1,NaN
23,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,37,경상북도,Gyeongsangbuk-do,NaN,1,NaN
24,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,38,경상남도,Gyeongsangnam-do,NaN,1,NaN
25,101,DT_1I202001,NaN,NaN,SGG,시도별,By province,39,제주특별자치도,Jeju,NaN,1,NaN

In [64]:
item.loc[item["분류ID"]=="IND_10"]

,기관ID,통계표ID,코드ID,코드명,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,상위분류값ID,분류값순번,CD_ENG_NM
26,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,00,총계,Total,NaN,2,NaN
27,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49,육상운송 및 파이프라인 운송업,Land transport and transport via pipelines,NaN,2,NaN
28,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49101,철도 여객 운송업,Passenger rail transport interurban,49,2,NaN
29,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49102,철도 화물 운송업,Freight rail transport,49,2,NaN
30,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49211,도시철도 운송업,Urban railway transport,49,2,NaN
31,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49212,시내버스 운송업,Intra-city bus transport,49,2,NaN
32,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49219,기타 도시 정기 육상 여객 운송업,Other urban and suburban passenger land transport,49,2,NaN
33,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49220,시외버스 운송업,Intercity bus transport,49,2,NaN
34,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49231,택시 운송업,Taxi transport,49,2,NaN
35,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49232,전세버스 운송업,Chartered bus transport,49,2,NaN
36,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49233,특수 여객자동차 운송업,Hearse transport,49,2,NaN
37,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49239,기타 부정기 여객 육상 운송업,Other non-scheduled passenger land transport,49,2,NaN
38,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49301,일반 화물자동차 운송업,General freight trucking by heavy truck,49,2,NaN
39,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49302,용달 화물자동차 운송업,Freight trucking by light or small truck,49,2,NaN
40,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49303,개별 화물자동차 운송업,Freight trucking by medium truck,49,2,NaN
41,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49401,택배업,Courier activities,49,2,NaN
42,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49402,늘찬 배달업,Local delivery and messenger services,49,2,NaN
43,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,49500,파이프라인 운송업,Transport via pipeline,49,2,NaN
44,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50,수상 운송업,Water Transport,NaN,2,NaN
45,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50111,외항 여객 운송업,Sea passenger water transport,50,2,NaN
46,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50112,외항 화물 운송업,Sea freight water transport,50,2,NaN
47,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50121,내항 여객 운송업,Coastal passenger water transport,50,2,NaN
48,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50122,내항 화물 운송업,Coastal freight water transport,50,2,NaN
49,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50130,기타 해상 운송업,Other sea and coastal water transport,50,2,NaN
50,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50201,내륙 수상 여객 운송업,Inland water passenger,50,2,NaN
51,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,50202,항만 내 여객 운송업,Harbour passenger transport,50,2,NaN
52,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,51,항공 운송업,Air Transport,NaN,2,NaN
53,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,51100,항공 여객 운송업,Passenger air transport,51,2,NaN
54,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,51200,항공 화물 운송업,Freight air transport,51,2,NaN
55,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52,창고 및 운송관련 서비스업,Warehousing and support activities for transpo...,NaN,2,NaN
56,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52101,일반 창고업,General warehousing,52,2,NaN
57,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52102,냉장 및 냉동 창고업,Refrigerated and frozen warehousing,52,2,NaN
58,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52103,농산물 창고업,Farm products warehousing,52,2,NaN
59,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52104,위험물품 보관업,Dangerous goods warehousing,52,2,NaN
60,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52109,기타 보관 및 창고업,Other warehousing and storage,52,2,NaN
61,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52911,철도 운송지원 서비스업,Service activities incidental to rail transpor...,52,2,NaN
62,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52912,여객 자동차 터미널 운영업,Operation of passenger bus terminal facilities,52,2,NaN
63,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52913,물류 터미널 운영업,Operation of logistics terminal facilities,52,2,NaN
64,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52914,도로 및 관련시설 운영업,Operation of roads and related facilities,52,2,NaN
65,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52915,주차장 운영업,Operation of car park or garage facilities,52,2,NaN
66,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52919,기타 육상 운송지원 서비스업,Other service activities incidental to land tr...,52,2,NaN
67,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52921,항구 및 기타 해상 터미널 운영업,Operation of harbour and marine terminal facil...,52,2,NaN
68,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52929,기타 수상 운송지원 서비스업,Other service activities incidental to water t...,52,2,NaN
69,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52930,항공 운송지원 서비스업,Service activities incidental to air transport...,52,2,NaN
70,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52931,공항 운영업,Operation of airport,52,2,NaN
71,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52939,기타 항공 운송지원 서비스업,Other service activities incidental to air tra...,52,2,NaN
72,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52941,항공 및 육상 화물 취급업,Air and land cargo handling,52,2,NaN
73,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52942,수상 화물 취급업,Marine cargo handling,52,2,NaN
74,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52991,통관 대리 및 관련서비스업,Activities of customs agents and related services,52,2,NaN
75,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52992,화물운송 중개 대리 및 관련 서비스업,Activities of freight forwarders and cargo age...,52,2,NaN
76,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52993,화물 포장 검수 및 계량 서비스업,Activities of cargo packing checking and weigh...,52,2,NaN
77,101,DT_1I202001,NaN,NaN,IND_10,산업별,By industry,52999,그 외 기타 분류 안된 운송 관련 서비스업,Other supporting transport services n.e.c.,52,2,NaN

In [65]:
df = api.get_data(
    "통계자료",
    orgId="101",
    tblId="DT_1I202001",
    objL1="ALL",
    objL2="00 52",
    itmId="T1",
    prdSe="Y",
    startPrdDe="2020",
    endPrdDe="2020",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명2,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전국,Whole country,00,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,552075
1,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전국,Whole country,00,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,22471
2,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,서울특별시,Seoul,11,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,100240
3,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,서울특별시,Seoul,11,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,5057
4,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,부산광역시,Busan,21,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,31057
5,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,부산광역시,Busan,21,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,3957
6,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,대구광역시,Daegu,22,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,23576
7,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,대구광역시,Daegu,22,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,877
8,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,인천광역시,Incheon,23,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,26506
9,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,인천광역시,Incheon,23,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,1609
10,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,광주광역시,Gwangju,24,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,11825
11,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,광주광역시,Gwangju,24,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,447
12,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,대전광역시,Daejeon,25,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,12354
13,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,대전광역시,Daejeon,25,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,367
14,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,울산광역시,Ulsan,26,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,7379
15,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,울산광역시,Ulsan,26,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,531
16,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,세종특별자치시,Sejong,29,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,1371
17,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,세종특별자치시,Sejong,29,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,41
18,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경기도,Gyeonggi-do,31,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,111665
19,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경기도,Gyeonggi-do,31,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,3551
20,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,강원도,Gangwon-do,32,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,9783
21,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,강원도,Gangwon-do,32,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,397
22,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,충청북도,Chungcheongbuk-do,33,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,12554
23,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,충청북도,Chungcheongbuk-do,33,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,641
24,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,충청남도,Chungcheongnam-do,34,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,14594
25,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,충청남도,Chungcheongnam-do,34,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,701
26,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전라북도,Jeollabuk-do,35,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,13145
27,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전라북도,Jeollabuk-do,35,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,684
28,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전라남도,Jeollanam-do,36,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,12148
29,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,전라남도,Jeollanam-do,36,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,799
30,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경상북도,Gyeongsangbuk-do,37,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,19553
31,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경상북도,Gyeongsangbuk-do,37,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,1096
32,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경상남도,Gyeongsangnam-do,38,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,22198
33,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,경상남도,Gyeongsangnam-do,38,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,1495
34,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,제주특별자치도,Jeju,39,산업별,By industry,...,Total,00,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,6431
35,101,DT_1I202001,시도별/산업별 총괄,시도별,By province,제주특별자치도,Jeju,39,산업별,By industry,...,Warehousing and support activities for transpo...,52,T1,기업체수,Number of Enterprises,개,Establishment,A,2020,221

In [4]:
url = 'https://infuser.odcloud.kr/oas/docs?namespace=15063546/v1/uddi:cff5c093-4893-454f-96af-f2764590defd'
key = 'buNPq8BZdGw2p%2B3l2B7IMBy3e9PX5fahBKLPiW518y4yMZsQFDJeQW9fpNMb2nt7Xu6j4vz6txHwT5%2BrcFrwhA%3D%3D'


queryParams = f'?{parse.quote_plus("serviceKey")}={key}&' + parse.urlencode({
#parse.quote_plus("ocrn_ymd"): '20230119',
#parse.quote_plus("siDo"): '1100',
#parse.quote_plus("resultType"): 'xml' ,
#parse.quote_plus("numOfRows"): 100,
#parse.quote_plus("pageNo"): 1
})

# xml로 받아온 response
response = requests.get(url + queryParams).text
# xmltodict로 dictionary형태로 바꿔줌
jsonString = json.dumps(xmltodict.parse(response), indent=4)
# dictiondary to json
dic = json.loads(jsonString)
dic
#body = dic['response']['body']['items']['item']

#df1 = pd.json_normalize(body)

ExpatError: not well-formed (invalid token): line 1, column 0